<include href="views/mainHeader.html"></include>
<body>
    <include href="views/miniHeader.html"></include>

<div class="outer-container mb-5">
        <div class="container content-container ">
            <h2>Experience</h2>
            <hr>
            <form action="#" method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-8">
                        <label for="bio">Biography</label><br>
                        <textarea id="bio" name="bio" class="input-width" rows="5" placeholder="Please tell us about yourself."></textarea>
                    </div>
                    <div class="col-4">
                        <label for="link">LinkedIn Link</label><br>
                        <input type="text" id="link" name="link" class="input-width" placeholder="linkedin.com/in/">
                    </div>

                    <div class="col-4">
                        <label>Years of Experience</label><br>
                        <input type="radio" id="0-2" name="yearsInExperience" value="0-2">
                        <label for="0-2">0-2</label>
                        <input type="radio" id="2-4" name="yearsInExperience" value="2-4">
                        <label for="2-4">2-4</label>
                        <input type="radio" id="4+" name="yearsInExperience" value="4+">
                        <label for="4+">4+</label>
                    </div>
                    <div class="col-4">
                        <label>Willing to Relocate</label><br>
                        <input type="radio" id="yes" name="willingToRelocate" value="yes">
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="willingToRelocate" value="no">
                        <label for="no">No</label>
                        <input type="radio" id="maybe" name="willingToRelocate" value="maybe">
                        <label for="maybe">Maybe</label>
                    </div>
                    <div class="col-4 mt-2">
                        <button type="submit" class="btn btn-primary btn-sm personal-info-button">Next ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>



</body>
</html>