<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Application - Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container">
            <div class="row">
                <div class="">
                    <p class="companyName">Parkside Retirement Community</p>
                    <p class="companyPosition">Caregiver (Certified Nursing Assistant)</p>
                    <p class="positionInfo">Auburn Washington | Full-Time | Weekly Pay</p>
                </div>
            </div>
            <div class="">
                <button onclick="" class="btn btn-primary btn-sm btn-block">APPLY NOW</button>
            </div>
        </div>
    </nav>
    <div class="container content-container">
        <div class="row" >
            <div class="col-5">
                <div class="jobListingText"  >
                    <h4>About Parkside Retirement Community</h4>
                    <hr>
                    <p>Parkside Retirement Community is a serene and welcoming haven for seniors seeking comfort, companionship, and care.
                        Our dedicated team of caregivers and staff members are committed to providing exceptional care and support, ensuring that every resident feels valued, respected, and cherished.</p>
                    <em>"At Parkside, we believe in creating a home where every moment is cherished, every smile is celebrated, and every life is honored."</em>
                    <br>
                    <br>
                    <h4>Job Description</h4>
                    <hr>
                    <ul>
                        <li>Assisting residents with activities of daily living, including bathing, grooming, dressing, and toileting, while promoting independence and dignity.</li>
                        <li>Monitoring and documenting residents' health status, vital signs, and medication administration under the supervision of licensed nursing staff.</li>
                        <li>Collaborating with interdisciplinary team members to develop and implement individualized care plans tailored to meet the unique needs and preferences of each resident.</li>
                        <li>Responding promptly to residents' requests and emergencies, demonstrating professionalism, empathy, and excellent communication skills.</li>
                        <li>Maintaining a clean, safe, and comfortable environment for residents, adhering to infection control protocols and safety regulations.</li>
                    </ul>
                    <h4>Qualifications</h4>
                    <hr>
                    <ul>
                        <li>Valid certification as a Nursing Assistant (CNA) in the state of Washington.</li>
                        <li>Previous experience working in a senior living community or healthcare setting preferred.</li>
                        <li>Excellent communication and interpersonal skills, with the ability to interact effectively with residents, families, and team members.</li>
                        <li>Ability to multitask, prioritize responsibilities, and work effectively in a fast-paced environment.</li>
                        <li>Flexibility to work varying shifts, including weekends and holidays, as needed.</li>
                        <li>Commitment to upholding ethical standards and maintaining resident confidentiality at all times.</li>
                    </ul>
                    <hr>
                    <div class="jobListingText button-container">
                        <button onclick="" class="btn btn-primary btn-sm">APPLY NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <img src="images/hands.png" alt="caregiving" style="width:800px; height:850px;">
            </div>
        </div>
    </div>
</body>
</html>