<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Application - Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <div class="row">
                <div class="">
                    <p class="companyName">Parkside Retirement Community</p>
                    <p class="companyPosition">Caregiver (CNA)</p>
                    <p class="positionInfo">Auburn Washington | Full-Time | Weekly Pay</p>
                </div>
            </div>
            <div class="">
                <button onclick="" class="btn btn-primary btn-lg btn-block">APPLY NOW</button>
            </div>
        </div>
    </nav>
    <!--
    Left side of the page -
    About PRC
    Job Desc
    Qualifications
    -->
    <div class="container col-6 content-container">
        <div class="jobListingText">
            <ul class="list">
                <li class="item">
                    <h3>About Parkside Retirement Community</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate pulvinar pulvinar. Nunc efficitur odio sit amet laoreet volutpat. Nullam odio arcu, egestas eu nisi sed, luctus porttitor quam. Pellentesque iaculis, lacus id ultrices pellentesque, mi erat tincidunt arcu, vel luctus erat est a tortor. Aenean ultricies imperdiet viverra. Ut sed magna sit amet ex placerat pharetra. Sed et auctor orci, eu tincidunt sem.
                    </p>
                </li>
                <li class="item">
                    <h3>Job Description</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate pulvinar pulvinar. Nunc efficitur odio sit amet laoreet volutpat. Nullam odio arcu, egestas eu nisi sed, luctus porttitor quam. Pellentesque iaculis, lacus id ultrices pellentesque, mi erat tincidunt arcu, vel luctus erat est a tortor. Aenean ultricies imperdiet viverra. Ut sed magna sit amet ex placerat pharetra. Sed et auctor orci, eu tincidunt sem.
                    </p>
                </li>
                <li class="item">
                    <h3>Qualifications</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate pulvinar pulvinar. Nunc efficitur odio sit amet laoreet volutpat. Nullam odio arcu, egestas eu nisi sed, luctus porttitor quam. Pellentesque iaculis, lacus id ultrices pellentesque, mi erat tincidunt arcu, vel luctus erat est a tortor. Aenean ultricies imperdiet viverra. Ut sed magna sit amet ex placerat pharetra. Sed et auctor orci, eu tincidunt sem.
                    </p>
                </li>
            </ul>
        </div>
    </div>


    <!--
    Right side of the page -
    Large image
    -->


</body>
</html>