<include href="views/mainHeader.html"></include>
<body>
    <include href="views/miniHeader.html"></include>

    <div class="outer-container mb-5">
        <div class="container content-container ">

            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h2>Personal Information</h2>
                        <hr>
                    </div>
                </div>
            </div>

            <form action="#" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-4">
                        <label for="fname">First name</label><br>
                        <input type="text" id="fname" name="fname" class="input-width" placeholder="Sarah">
                        <check if="{{ isset(@errors['fname']) }}">
                            <span class="err">{{ @errors['fname'] }}</span>
                        </check>
                    </div>
                    <div class="col-4">
                        <label for="lname">Last name</label><br>
                        <input type="text" id="lname" name="lname" class="input-width" placeholder="Smith">
                        <check if="{{ isset(@errors['lname']) }}">
                            <span class="err">{{ @errors['lname'] }}</span>
                        </check>
                    </div>
                    <div class="col-4 position-relative">
                        <div class="message-box position-absolute top-0 end-0 p-1 mt-3  rounded">
                            <p class="message-text m-0"><strong>Noted:</strong> All information entered is protected by our <strong>privacy policy.</strong> Profile
                                information can only be viewed by others with your permission.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 mt-1">
                        <label for="email">Email</label><br>
                        <input type="text" id="email" name="email" class="input-width" placeholder="my_email@gmail.com">
                        <check if="{{ isset(@errors['email']) }}">
                            <span class="err">{{ @errors['email'] }}</span>
                        </check>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-4">
                        <label for="state">State</label><br>
                        <select id="state" name="state" class="input-width select">
                            <repeat group="{{ @states }}" key="{{ @abbr }}" value="{{ @name }}">
                                <option value="{{ @abbr }}">{{ @name }}</option>
                            </repeat>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="phone">Phone</label><br>
                        <input type="text" id="phone" name="phone" class="input-width" placeholder="222-333-4444">
                        <check if="{{ isset(@errors['phone']) }}">
                            <span class="err">{{ @errors['phone'] }}</span>
                        </check>
                    </div>

                </div>

                <div class="row mt-1">
                    <div class="col-4">
                        <label for="phone">Mailing Lists</label><br>
                        <label><input type="checkbox" name="mailingListStatus" value="yes"> Sign me up for job opening mailing lists!</label>
                    </div>
                    <div class="col-4 mt-1">
                        <div class="col-4">
                            <label for="fileToUpload">Upload Picture:</label>
                            <input type="file" name="fileToUpload" id="fileToUpload">
                        </div>
                    </div>
                    <div class="col-4 mt-3">
                        <button type="submit" class="btn btn-primary btn-sm personal-info-button">Next ></button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</body>
</html>