<include href="views/mainHeader.html"></include>

<body>

    <include href="views/miniHeader.html"></include>

    <div class="outer-container mb-5">
        <div class="container content-container">
            <h3>Job Openings Mailing Lists</h3>
            <hr>
            <form action="#" method="post" class="form-horizontal">
                <label>Software Development Jobs</label><br>
                    <div class="row">
                        <div class="col-3">
                            <input type="checkbox" id="JavaScript" name="JavaScript" value="JavaScript">
                            <label for="JavaScript">JavaScript</label><br>
                            <input type="checkbox" id="HTML" name="HTML" value="HTML">
                            <label for="HTML">HTML</label><br>
                        </div>
                        <div class="col-3">
                            <input type="checkbox" id="PHP" name="PHP" value="PHP">
                            <label for="PHP">PHP</label><br>
                            <input type="checkbox" id="CSS" name="CSS" value="CSS">
                            <label for="CSS">CSS</label><br>
                        </div>
                        <div class="col-3">
                            <input type="checkbox" id="Java" name="Java" value="Java">
                            <label for="Java">Java</label><br>
                            <input type="checkbox" id="ReactJS" name="ReactJS" value="ReactJS">
                            <label for="ReactJS">ReactJS</label><br>
                        </div>
                        <div class="col-3">
                            <input type="checkbox" id="Python" name="Python" value="Python">
                            <label for="Python">Python</label><br>
                            <input type="checkbox" id="NodeJS" name="NodeJS" value="NodeJS">
                            <label for="NodeJS">NodeJS</label><br>
                        </div>
                    </div>
                    <br><label>Industry Verticals</label><br>
                    <div class="row">
                        <div class="col-3">
                            <input type="checkbox" id="SaaS" name="SaaS" value="SaaS">
                            <label for="SaaS">SaaS</label><br>
                            <input type="checkbox" id="Industrial Tech" name="Industrial Tech" value="Industrial Tech">
                            <label for="Industrial Tech">Industrial Tech</label><br>
                        </div>
                        <div class="col-3">
                            <input type="checkbox" id="Health Tech" name="Health Tech" value="Health Tech">
                            <label for="Health Tech">Health Tech</label><br>
                            <input type="checkbox" id="Cybersecurity" name="Cybersecurity" value="Cybersecurity">
                            <label for="Cybersecurity">Cybersecurity</label><br>
                        </div>
                        <div class="col-3">
                            <input type="checkbox" id="Ag Tech" name="Ag Tech" value="Ag Tech">
                            <label for="Ag Tech">Ag Tech</label><br>
                        </div>
                        <div class="col-1">
                            <input type="checkbox" id="HR Tech" name="HR Tech" value="HR Tech">
                            <label for="HR Tech">HR Tech</label><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 offset-8 mt-3">
                            <button type="submit" class="btn btn-primary btn-sm personal-info-button">Next ></button>
                        </div>
                    </div>
            </form>
        </div>
    </div>

</body>
</html>