<include href="views/mainHeader.html"></include>

<body>

    <include href="views/miniHeader.html"></include>

    <!-- experience.html -->
    <div class="outer-container mb-5">
        <div class="container content-container">
            <h3>Job Openings Mailing Lists</h3>
            <hr>
            <form action="#" method="post" class="form-horizontal">
                <label>Software Development Jobs</label><br>
                <div class="row">
                    <div class="col-sm-4">
                        <repeat group="{{ @jobOpenings }}" value="{{ @job }}">
                            <label><input type="checkbox" name="jobOpenings[]" value="{{ @job }}"> {{ ucfirst(@job) }}</label><br>
                        </repeat>
                    </div>
                </div>
                <br>
                <label>Industry Verticals</label><br>
                <div class="row">
                    <div class="col-sm-4">
                        <repeat group="{{ @industryVerticals }}" value="{{ @vertical }}">
                            <label><input type="checkbox" name="industryVerticals[]" value="{{ @vertical }}"> {{ ucfirst(@vertical) }}</label><br>
                        </repeat>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <button class="btn btn-primary" type="submit">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</body>
</html>