<include href="views/mainHeader.html"></include>

<body>

<include href="views/miniHeader.html"></include>

<div class="outer-container mb-5">
    <div class="container content-container">
        <div class="row">
            <div class="col-md-5 mb-4">
                <div class="jobListingText mb-4">
                    <h2>You are almost there! Next step is to submit!</h2>
                </div>
                <div class="jobListingText mt-2">
                    <p>Name: {{ @SESSION.applicant->getFname() }} {{ @SESSION.applicant->getLname() }}</p>
                    <hr>
                    <p>Email: {{ @SESSION.applicant->getEmail() }}</p>
                    <hr>
                    <p>State: {{ @SESSION.applicant->getState() }}</p>
                    <hr>
                    <p>Phone: {{ @SESSION.applicant->getPhone() }}</p>
                    <hr>
                    <p>LinkedIn Link: {{ @SESSION.applicant->getLink() }}</p>
                    <hr>
                    <p>Experience: {{ @SESSION.applicant->getExperience() }} years</p>
                    <hr>
                    <p>Willing To Relocate: {{ @SESSION.applicant->getRelocate() }}</p>
                    <hr>
                    <check if="{{ @SESSION.applicant instanceof Applicant_SubscribedToLists }}">
                        <p>Mailing Lists:
                            <repeat group="{{ @SESSION.applicant->getSelectionsJobs() }}" value="{{ @job }}">
                                {{ ucfirst(@job) }}<check if="{{ !@last }}">, </check><check if="{{ @last }}">.</check>
                            </repeat>
                        </p>
                        <hr>
                    </check>
                </div>
            </div>
            <div class="col-md-6 offset-1">
                <check if="{{ isset(@SESSION.uploadedFile) }}">
                    <img src="{{ @SESSION.uploadedFile }}" alt="Profile Picture" class="custom-image2">
                </check>
                <check if="{{ !isset(@SESSION.uploadedFile) }}">
                    <img src="images/defaultProfilePicture.png" alt="Default Profile Picture" class="custom-image2">
                </check>
                <div class="mt-4">
                    <h3>Summary</h3>
                    <p>{{ @SESSION.applicant->getBio() }}</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary btn-sm personal-info-button">Submit My Application</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
