.companyPosition{
    font-size: 18px;
}
.positionInfo{
    font-size: 13px;
}
img {
    border-radius: 6px;
}
 .content-container {
     margin-top: 20px;
 }
.jobListingText h4 {
    text-align: center;
}
.jobListingText p,
.jobListingText em,
.jobListingText ul,
.jobListingText li {
    font-size: 13px;
}
.jobListingText .button-container {
    text-align: center;
}
.jobListingText em {
    font-style: italic;
    margin-left: 40px;
    margin-right: 40px;
    display: block;
}
.custom-navbar {
 background-color: white;
}
.outer-container{
    background-color: #f8f9fa;
}
.footer{
    background-color: darkgreen;
}
