.companyPosition{
    font-size: 18px;
}
.positionInfo{
    font-size: 13px;
}
img {
    border-radius: 6px;
}
 .content-container {
     margin-top: 20px;
 }
.jobListingText h4 {
    text-align: center;
}
.jobListingText p,
.jobListingText em,
.jobListingText ul,
.jobListingText li {
    font-size: 13px;
}
.jobListingText .button-container {
    text-align: center;
}
.jobListingText em {
    font-style: italic;
    margin-left: 40px;
    margin-right: 40px;
    display: block;
}
.custom-navbar {
 background-color: white;
}
.outer-container{
    background-color: #f8f9fa;
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer{
    background-color: darkgreen;
}
.input-width{
    width: 100%;
}
.personal-info-button{
    width:100%;
}
.message-box{
    background-color: darkgray;
}
.select{
    height: 30px;
}

label {
    font-weight: bold;
}
.bio {
    height: 150px;
}
.radio-spacing {
    margin-right: 25px; /* Adjust the value as needed */
}
.custom-image {
    width: 800px;
    height: 850px;
}
.custom-image2 {
    width: 550px;
    height: 450px;
}

.err {
    color: red;
}